<%layout("/layouts/boilerplate")%>
<style>
   p{
      text-align: center;
   }
   @media (max-width:600px) {
      .col-6{
         width: 90%;
      }
      .offset-3{
         margin: auto !important;
      }
   }
</style>
<body>
<div class="row mt-3">
   <div class="alert alert-danger col-6 offset-3" role="alert">
    <p><%= message %></p>
   </div>
</div>
</body>